<template name="forgotpassword">
<div role="main" class="main">

				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Forgot Password</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-12">

							<div class="featured-boxes">
								<div class="row">
								<div class="col-sm-4"></div>
								<div class="col-sm-6">

									
										<div class="featured-box featured-box-primary align-left mt-xlg" style="height: 327px;">
											<div class="box-content">
												<h4 class="heading-primary text-uppercase mb-md">Forgot Password</h4>
												<form  id="frmSignIn" method="post">
													<div class="row">
														<div class="form-group">
															<div class="col-md-12">
																<label>E-mail Address</label>
																<div class="input-group input-group-icon">
																<span class="input-group-addon">
																	<span class="icon"><i class="fa fa-user"></i></span>
																</span>
																<input type="text" id="email" value="" placeholder="Username" class="form-control input-lg" required>
																</div>
															</div>
														</div>
													</div>
												
													<div class="row">
														<div class="col-md-6">
																{{> reCAPTCHA}}
														</div>
														<div class="col-md-12">
															<input type="submit" value="Forgot Password" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
														</div>
													</div>
												</form>
											</div>
										</div>
								
									</div>
									<div class="col-sm-6">

										
							
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>
</template>