<template name="newuser">

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Pages</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>New User</h1>
                    </div>
                </div>
            </div>
        </section>


          <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="featured-boxes">
                        <div class="row">
                          <div class="col-sm-6">
                               {{> loginform}}
                            </div>
                            <div class="col-sm-6">
                               {{> registerform}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</template>
