<template name="portfolio">
	
	<section class="section mt-xl pb-none">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 center">
								<h2 class="mb-xl"><strong>Projects</strong> &amp; <strong>Clients</strong></h2>
							</div>
						</div>
					</div>
					<ul class="image-gallery sort-destination full-width mb-none">
						<li class="isotope-item">
							<div class="image-gallery-item mb-none">
								<a href="portfolio-single-small-slider.html">
									<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
										<span class="thumb-info-wrapper">
											<img src="website/img/projects/project-8.jpg" class="img-responsive" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Project Title</span>
												<span class="thumb-info-type">Project Type</span>
											</span>
											<span class="thumb-info-action">
												<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
											</span>
										</span>
									</span>
								</a>
							</div>
						</li>
						<li class="isotope-item">
							<div class="image-gallery-item mb-none">
								<a href="portfolio-single-small-slider.html">
									<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
										<span class="thumb-info-wrapper">
											<img src="website/img/projects/project-9.jpg" class="img-responsive" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Project Title</span>
												<span class="thumb-info-type">Project Type</span>
											</span>
											<span class="thumb-info-action">
												<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
											</span>
										</span>
									</span>
								</a>
							</div>
						</li>
						<li class="isotope-item">
							<div class="image-gallery-item mb-none">
								<a href="portfolio-single-small-slider.html">
									<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
										<span class="thumb-info-wrapper">
											<img src="website/img/projects/project-10.jpg" class="img-responsive" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Project Title</span>
												<span class="thumb-info-type">Project Type</span>
											</span>
											<span class="thumb-info-action">
												<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
											</span>
										</span>
									</span>
								</a>
							</div>
						</li>
						<li class="isotope-item">
							<div class="image-gallery-item mb-none">
								<a href="portfolio-single-small-slider.html">
									<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
										<span class="thumb-info-wrapper">
											<img src="website/img/projects/project-11.jpg" class="img-responsive" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Project Title</span>
												<span class="thumb-info-type">Project Type</span>
											</span>
											<span class="thumb-info-action">
												<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
											</span>
										</span>
									</span>
								</a>
							</div>
						</li>
						<li class="isotope-item">
							<div class="image-gallery-item mb-none">
								<a href="portfolio-single-small-slider.html">
									<span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
										<span class="thumb-info-wrapper">
											<img src="website/img/projects/project-12.jpg" class="img-responsive" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Project Title</span>
												<span class="thumb-info-type">Project Type</span>
											</span>
											<span class="thumb-info-action">
												<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
											</span>
										</span>
									</span>
								</a>
							</div>
						</li>
					</ul>
				</section>
</template>