<template name="team">
	<!-- <section class="section section-no-background section-no-border mt-none mb-none" id="testimonials"> -->
	<div role="main" class="main">


	<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Team</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Team</h1>
							</div>
						</div>
					</div>
				</section>



					<div class="container">
						<div class="row">
							<div class="col-md-12 center">
								<h2 class="heading-dark mb-none">Our <strong>Team</strong></h2>
								<p class="mb-xl">Experienced and Subject Experts.</p>
							</div>
						</div>
						<div class="row mt-xl">
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInLeft" data-appear-animation-delay="0"><!-- appear-animation -->
									<blockquote>
										<p>I'm a mobile user researcher, interaction designer and product strategy guy focused on engagement and growth with 2 years of product operations/support experience at Wapp. I'm determined to make technology work effortlessly for average users while delighting them with functional, intuitive and beautiful design. I'm obsessed with mobile and am passionate about the 'bridging online and offline' and 'collaborative consumption' markets.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/narendra.png" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>Naren</strong><span>Mobile Designer - Wapp</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInRight" data-appear-animation-delay="0">
									<blockquote>
									<svg width="45px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-551 259 256 251" style="enable-background:new -551 259 256 251;" xml:space="preserve">
							            <style type="text/css">
							              .st0 {
							                fill: #DF4F4F;
							              }
							            </style>
							            <g>
							              <g>
							                <path class="st0 l1" d="M-550,259.4l218.9,231.8c0,0,7.5,5.3,13.2-0.9c5.7-6.1,1.3-12.3,1.3-12.3L-550.6,259.4L-550.6,259.4z"></path>
							                <path class="st0 l2" d="M-481.3,281.4L-314.6,461c0,0,7.5,5.3,13.2-0.9s1.3-12.3,1.3-12.3L-481.3,281.4L-481.3,281.4z"></path>
							                <path class="st0 l3" d="M-529.9,328.2l166.7,179.7c0,0,7.5,5.3,13.2-0.9c5.7-6.1,1.3-12.3,1.3-12.3L-529.9,328.2L-529.9,328.2z"></path>
							                <path class="st0 l4" d="M-422.7,300.2l116.4,125.5c0,0,5.2,3.7,9.2-0.6c4-4.3,0.9-8.6,0.9-8.6L-422.7,300.2L-422.7,300.2z"></path>
							                <path class="st0 l5" d="M-513.9,382.6l116.4,125.5c0,0,5.2,3.7,9.2-0.6s0.9-8.6,0.9-8.6L-513.9,382.6L-513.9,382.6z"></path>
							                <path class="st0 l6" d="M-362.8,327.4l52.8,57.1c0,0,2.6,1.7,4.5-0.3c2-2,0.5-4,0.5-4L-362.8,327.4L-362.8,327.4z"></path>
							                <path class="st0 l7" d="M-484.8,440.4l52.8,57.1c0,0,2.6,1.7,4.5-0.3c2-2,0.5-4,0.5-4L-484.8,440.4L-484.8,440.4z"></path>
							              </g>
							            </g>
							          </svg>
          
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequatt, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/clients/client-2.jpg" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>Jessica Doe</strong><span>Marketing - Wapp</span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-md mb-xl">
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequatt, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/clients/client-3.jpg" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>Bob Smith</strong><span>CEO & Founder - Wapp</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInRight" data-appear-animation-delay="0">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequatt, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/clients/client-4.jpg" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>Brian Smith</strong><span>CEO & Founder - Wapp</span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row center mt-xl">
							<div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-1.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-2.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-3.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-4.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-5.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-6.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-4.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-2.png" alt="">
								</div>
							</div>
						</div>
					</div>
				<!-- </section> -->

				</div>
</template>