<template name="team">
	<!-- <section class="section section-no-background section-no-border mt-none mb-none" id="testimonials"> -->
	<div role="main" class="main">


	<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Team</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Team</h1>
							</div>
						</div>
					</div>
				</section>



					<div class="container">
						<div class="row">
							<div class="col-md-12 center">
								<h2 class="heading-dark mb-none">Our <strong>Team</strong></h2>
								<p class="mb-xl">Experienced and Subject Experts.</p>
							</div>
						</div>
						<div class="row mt-xl">
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInLeft" data-appear-animation-delay="0"><!-- appear-animation -->
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequatt, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/clients/client-1.jpg" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>John Smith</strong><span>CEO & Founder - Wapp</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInRight" data-appear-animation-delay="0">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequatt, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/clients/client-2.jpg" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>Jessica Doe</strong><span>Marketing - Wapp</span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-md mb-xl">
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequatt, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/clients/client-3.jpg" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>Bob Smith</strong><span>CEO & Founder - Wapp</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="testimonial testimonial-style-4 " data-appear-animation="fadeInRight" data-appear-animation-delay="0">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequatt, in consequat.</p>
									</blockquote>
									<div class="testimonial-arrow-down"></div>
									<div class="testimonial-author">
										<div class="testimonial-author-thumbnail">
											<img src="../website/img/clients/client-4.jpg" class="img-responsive img-circle" alt="">
										</div>
										<p><strong>Brian Smith</strong><span>CEO & Founder - Wapp</span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row center mt-xl">
							<div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-1.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-2.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-3.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-4.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-5.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-6.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-4.png" alt="">
								</div>
								<div>
									<img class="img-responsive" src="../website/img/logos/logo-2.png" alt="">
								</div>
							</div>
						</div>
					</div>
				<!-- </section> -->

				</div>
</template>