<template name="lablist">
    <li class="dropdown dropdown-mega">
        <a  href="#">Lab Free Services</a>      
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-mega-content">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="dropdown-mega-sub-title">Coding</span>
                                <ul class="dropdown-mega-sub-nav">
                                    <li>
                                        <a href="shortcodes-accordions.html">Be a Groupy</a>
                                    </li>
                                    <li><a href="shortcodes-toggles.html">My Scheduler</a></li>
                                    <li><a href="shortcodes-tabs.html">Map</a></li>
                                    <li><a href="shortcodes-icons.html">Live API Dashboard</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>     
    </li>
</template>
