<template name="freeservicedashboard">
	<ul class="portfolio-list sort-destination full-width-spaced mb-xl" data-sort-id="portfolio" id="homeOverview">
					<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
						<div class="portfolio-item center">
							<a href="/addresource" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="../website/img/colorwapp.png" data-plugin-lazyload>
											<img src="../website/img/colorwapp.png">
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Resource coding</h5>
								<!-- <p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p> -->
							</a>
						</div>
					</li>
					<li class="col-md-3 col-sm-6 col-xs-6 isotope-item classic">
						<div class="portfolio-item center">
							<a href="/createpoll" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="../website/img/freeservice/poll.jpg" data-plugin-lazyload>
											<img src="../website/img/freeservice/poll.jpg">
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Polling</h5>
								<p class="font-size-xs line-height-xs">Create<br>your Questionaire and share to participants via email or whatsapp</p>
							</a>
						</div>
					</li>


					<li class="col-md-3 col-sm-3 col-xs-6 isotope-item classic">
						<div class="portfolio-item center">
							<a href="/comingsoon" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="img/freeservice/recruit.png" data-plugin-lazyload>
											<img src="../website/img/recruit.png">
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Recruit</h5>
								<!-- <p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p> -->
							</a>
						</div>
					</li>

					<li class="col-md-3 col-sm-3 col-xs-6 isotope-item classic">
						<div class="portfolio-item center">
							<a href="/comingsoon" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="img/freeservice/groupy.jpg" data-plugin-lazyload>
											<img src="../website/img/freeservice/groupy.jpg">
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Happenings</h5>
								<!-- <p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p> -->
							</a>
						</div>
					</li>

					<li class="col-md-3 col-sm-3 col-xs-6 isotope-item classic">
						<div class="portfolio-item center">
							<a href="/comingsoon" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="img/freeservice/grouptrip.png" data-plugin-lazyload>
											<img src="../website/img/freeservice/grouptrip.png">
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Group Trip</h5>
								<!-- <p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p> -->
							</a>
						</div>
					</li>
					
			<!-- 		<li class="col-md-3 col-sm-3 col-xs-6 isotope-item classic">
						<div class="portfolio-item center">
							<a href="index-classic-video.html" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="img/freeservice/map.png" data-plugin-lazyload>
											<img src="../website/img/freeservice/map.png">
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Gmap Utilities</h5>							
							</a>
						</div>
					</li> -->

				</ul>
</template>