<template name="technologyportfolio">
    <div class="container">
       
      
                        <div class="row">
                            <div class="col-md-12 center">
                                <h2 class="mb-xl"><strong>Technology Stack</strong></h2>
                            </div>
                        </div>
                  

        <div class="content-grid mt-lg mb-lg">
            <div class="row content-grid-row">
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-1.png" alt="">
                </div>
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-2.png" alt="">
                </div>
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-3.png" alt="">
                </div>
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-4.png" alt="">
                </div>
            </div>
            <div class="row content-grid-row">
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-5.png" alt="">
                </div>
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-6.png" alt="">
                </div>
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-1.png" alt="">
                </div>
                <div class="content-grid-item col-md-3 center">
                    <img class="img-responsive" src="../website/img/logos/logo-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</template>
