<template name="technologyportfolio">
    <div class="container">
       
      
                        <div class="row">
                            <div class="col-md-12 center">
                                <h2 class="mb-xl"><strong>Technology Stack</strong></h2>
                            </div>
                        </div>
                  


        <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
         
         
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/javascript-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Javascript
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/typescript.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                TypeScript
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/mongodb-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                MongoDB
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/html5-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                HTML5
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/css3-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                CSS3
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/azurelogo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Azure
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/net.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                .Net
              </p>
            </div>
           <!--  <div class="ol-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/scala-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Scala
              </p>
            </div> -->
          </div>
        </div>

      <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
        
        
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/meteor-logo.svg">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Meteor
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/awslogo.jpg">
              </p>
              <p class="lead text-center uppercase ellipsis">
                AWS
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/cordova-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Cordova
              </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/ionic-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Ionic
              </p>
            </div>
          <!--   <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/react-native-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                React
              </p>
            </div> -->
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                <p class="lead text-center">
                    <img class="skills-img" src="../website/img/angular-logo.png">
                </p>
                <p class="lead text-center uppercase ellipsis">
                    Angular
                </p>
            </div>
              <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <p class="lead text-center">
                      <img class="skills-img" src="../website/img/nodejs-logo.png">
                  </p>
                  <p class="lead text-center uppercase ellipsis">
                      Node
                  </p>
              </div>
            <!-- <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/playframework-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Play Framework
              </p>
            </div> -->
         <!--    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <p class="lead text-center">
                <img class="skills-img" src="../website/img/jasmine-logo.png">
              </p>
              <p class="lead text-center uppercase ellipsis">
                Jasmine
              </p>
            </div> -->
          </div>
        </div>
    </div>
</template>
