<template name="aboutus">
    <div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">         
          <!--   <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-8">
                    {{>contentwhoweare}}                    
                </div>                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div>            
        </div>
    </div>
</template>

<!-- template name="whoweare">
<h3 class="heading-primary"><strong>Who</strong> We Are</h3>
                    <p>
                        <span class="alternative-font">Wapp</span> IT Solutions has worked with more than 5 different clients from different parts of the globe which includes Mauritius, South Africa, India and US.
                        <span class="alternative-font">Wapp</span> has a focused service offering in Intelletual Properties, Real estate, Real time GPS Tracking, Logistics , Social Networking, daily deals and group buying applications, Iaas, Paas, SAAS, Smartphone applications, desktop applications and migration. We have expertise across business domains and we have a long list of satisfied customers. </p>
                        <p>
                        <span class="alternative-font">We</span> have significant depth of expertise and experience in delivering Web, Desktop and Smartphone based technology solutions to our clients across industries. Our structured, project execution methodologies further enhance our ability to consistently deliver best of breed solutions to our clients. Wapp provides an equal opportunity to everyone with an environment that allows them to grow and learn. Our unique and simple work culture endorses creativity and teamwork, and also encourages our employees to keep up a healthy work and life balance. We frequently update our employees with new technologies that can help them to learn more. We develop distinctive and exceptional solutions that help our clients to take complete control over online business in real time.
                    </p>
</template>
 -->