<template name="cloudconsultancy">
<div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Cloud Consultancy</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Cloud Consultancy</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
     
            <div class="row">
                <div class="col-md-10">
                    <p class="lead">
                        <div class="center"><img src="../website/img/cloud1.jpg" class="center" alt="" /></div>
                        Wapp Solutions is an IT consulting and services provider, providing end-to-end consulting for global clients providing full-cycle services in areas of custom web design, web development, mobile app development, Project Consultancies, hosting & support. Based on a productive, transparent, and intuitive process, our project execution methodology ensures that we deliver a formidable final product. Combining our solid business domain experience, technical expertise, profound knowledge of latest industry trends and quality-driven delivery model we offer progressive end-to-end solutions.

                        
                        Wapp consulting services are designed to support through decision-making process, from exploratory evaluations to cloud strategy to solution and technology decisions. With the singular goal of ensuring that customer makes the right decisions, Wapp consulting services ensure that customer asks all the right questions, get clinical answers upfront, and make informed cloud and IT decisions—ones that will accomplish business objectives.

                        Cloud computing is a model for enabling ubiquitous, convenient, on-demand network access to a shared pool of configurable computing resources (e.g., networks, servers, storage, applications and services) that can be rapidly provisioned and released with minimal management effort.

                        Proponents claim that cloud computing allows companies to avoid upfront infrastructure costs, and focus on projects that differentiate their businesses instead of on infrastructure. Proponents also claim that cloud computing allows enterprises to get their applications up and running faster, with improved manageability and less maintenance, and enables IT to more rapidly adjust resources to meet fluctuating and unpredictable business demand. Cloud providers typically use a "pay as you go" model. This can lead to unexpectedly high charges if administrators do not adapt to the cloud pricing model.

                        Cloud computing has now become a highly demanded service or utility due to the advantages of high computing power, cheap cost of services, high performance, scalability, accessibility as well as availability.
                    </p>
                </div>              
            </div>

            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>            
            <div class="row">
                <div id="AWS" class="col-md-10">
                    {{> cloud_aws}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

                     
            <div class="row">
                <div id="azure" class="col-md-10">
                    {{> cloud_azure}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

                     
            <div class="row">
                <div id="cloud_readiness" class="col-md-10">
                    {{> cloud_readiness}}                  
                </div>               
            </div>            
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div> 

            <div class="row">
                <div id="cloud_architecture" class="col-md-10">
                    {{> cloud_architecture}}                  
                </div>               
            </div>
           
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>            
            <div class="row">
                <div id="cloud_service" class="col-md-10">
                    {{> cloud_service}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

          
            <div class="row">
                <div id="cloud_infrastructure" class="col-md-10">
                    {{> cloud_infrastructure}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

           
            <div class="row">
                <div id="cloud_governance" class="col-md-10">
                    {{> cloud_governance}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

        </div>
    </div>
</template>