<template name="userlist">
<div role="main" class="main">
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Users</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Users</h1>
							</div>
						</div>
					</div>
				</section>




					



</div>

<div class="container">

		<section class="panel">
						<header class="panel-heading">
							<div class="panel-actions">
								<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
								<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
							</div>
					
							<h2 class="panel-title">No More Tables</h2>
						</header>
						<div class="panel-body">
							<table class="table table-no-more table-bordered table-striped mb-none">
								<thead>
									<tr>
										<th>Email</th>
										<th class="hidden-xs hidden-sm">Name</th>
										<th class="text-right">Roles</th>
										<th class="text-right hidden-xs hidden-sm">Change</th>
										<th class="text-right">Change %</th>
										<th class="text-right">Open</th>
										<th class="text-right hidden-xs hidden-sm">High</th>
										<th class="text-right hidden-xs hidden-sm">Low</th>
										<th class="text-right">Volume</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td data-title="Email">AAC</td>
										<td data-title="Name" class="hidden-xs hidden-sm">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
										<td data-title="Roles" class="text-right">$1.38</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">-0.01</td>
										<td data-title="Change %" class="text-right">-0.36%</td>
										<td data-title="Open" class="text-right">$1.39</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$1.39</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$1.38</td>
										<td data-title="Volume" class="text-right">9,395</td>
									</tr>
									<tr>
										<td data-title="Email">AAD</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ARDENT LEISURE GROUP</td>
										<td data-title="Roles" class="text-right">$1.15</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">  +0.02</td>
										<td data-title="Change %" class="text-right">1.32%</td>
										<td data-title="Open" class="text-right">$1.14</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$1.15</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$1.13</td>
										<td data-title="Volume" class="text-right">56,431</td>
									</tr>
									<tr>
										<td data-title="Email">AAX</td>
										<td data-title="Name" class="hidden-xs hidden-sm">AUSENCO LIMITED</td>
										<td data-title="Roles" class="text-right">$4.00</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">-0.04</td>
										<td data-title="Change %" class="text-right">-0.99%</td>
										<td data-title="Open" class="text-right">$4.01</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$4.05</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$4.00</td>
										<td data-title="Volume" class="text-right">90,641</td>
									</tr>
									<tr>
										<td data-title="Email">ABC</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ADELAIDE BRIGHTON LIMITED</td>
										<td data-title="Roles" class="text-right">$3.00</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">  +0.06</td>
										<td data-title="Change %" class="text-right">2.04%</td>
										<td data-title="Open" class="text-right">$2.98</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$3.00</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$2.96</td>
										<td data-title="Volume" class="text-right">862,518</td>
									</tr>
									<tr>
										<td data-title="Email">ABP</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ABACUS PROPERTY GROUP</td>
										<td data-title="Roles" class="text-right">$1.91</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">0.00</td>
										<td data-title="Change %" class="text-right">0.00%</td>
										<td data-title="Open" class="text-right">$1.92</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$1.93</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$1.90</td>
										<td data-title="Volume" class="text-right">595,701</td>
									</tr>
									<tr>
										<td data-title="Email">ABY</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ADITYA BIRLA MINERALS LIMITED</td>
										<td data-title="Roles" class="text-right">$0.77</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">  +0.02</td>
										<td data-title="Change %" class="text-right">2.00%</td>
										<td data-title="Open" class="text-right">$0.76</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$0.77</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$0.76</td>
										<td data-title="Volume" class="text-right">54,567</td>
									</tr>
									<tr>
										<td data-title="Email">ACR</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ACRUX LIMITED</td>
										<td data-title="Roles" class="text-right">$3.71</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">  +0.01</td>
										<td data-title="Change %" class="text-right">0.14%</td>
										<td data-title="Open" class="text-right">$3.70</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$3.72</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$3.68</td>
										<td data-title="Volume" class="text-right">191,373</td>
									</tr>
									<tr>
										<td data-title="Email">ADU</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ADAMUS RESOURCES LIMITED</td>
										<td data-title="Roles" class="text-right">$0.72</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">0.00</td>
										<td data-title="Change %" class="text-right">0.00%</td>
										<td data-title="Open" class="text-right">$0.73</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$0.74</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$0.72</td>
										<td data-title="Volume" class="text-right">8,602,291</td>
									</tr>
									<tr>
										<td data-title="Email">AGG</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ANGLOGOLD ASHANTI LIMITED</td>
										<td data-title="Roles" class="text-right">$7.81</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">-0.22</td>
										<td data-title="Change %" class="text-right">-2.74%</td>
										<td data-title="Open" class="text-right">$7.82</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$7.82</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$7.81</td>
										<td data-title="Volume" class="text-right">148</td>
									</tr>
									<tr>
										<td data-title="Email">AGK</td>
										<td data-title="Name" class="hidden-xs hidden-sm">AGL ENERGY LIMITED</td>
										<td data-title="Roles" class="text-right">$13.82</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">  +0.02</td>
										<td data-title="Change %" class="text-right">0.14%</td>
										<td data-title="Open" class="text-right">$13.83</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$13.83</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$13.67</td>
										<td data-title="Volume" class="text-right">846,403</td>
									</tr>
									<tr>
										<td data-title="Email">AGO</td>
										<td data-title="Name" class="hidden-xs hidden-sm">ATLAS IRON LIMITED</td>
										<td data-title="Roles" class="text-right">$3.17</td>
										<td data-title="Change" class="text-right hidden-xs hidden-sm">-0.02</td>
										<td data-title="Change %" class="text-right">-0.47%</td>
										<td data-title="Open" class="text-right">$3.11</td>
										<td data-title="High" class="text-right hidden-xs hidden-sm">$3.22</td>
										<td data-title="Low" class="text-right hidden-xs hidden-sm">$3.10</td>
										<td data-title="Volume" class="text-right">5,416,303</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
					</div>
				
</template>