<template name="web">
<div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Web Consultancy</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Web Consultancy</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
     
            <div class="row">
                <div class="col-md-10">
                    <p class="lead">
                        Wapp Solutions is an IT consulting and services provider, providing end-to-end consulting for global clients providing full-cycle services in areas of custom web design, web development, mobile app development, Project Consultancies, hosting & support. Based on a productive, transparent, and intuitive process, our project execution methodology ensures that we deliver a formidable final product. Combining our solid business domain experience, technical expertise, profound knowledge of latest industry trends and quality-driven delivery model we offer progressive end-to-end solutions.
                    </p>
                </div>              
            </div>

            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>            
            <div class="row">
                <div id="rad" class="col-md-10">
                    {{> rad}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

                     
            <div class="row">
                <div id="responsive" class="col-md-10">
                    {{> responsive}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

                     
            <div class="row">
                <div id="legacy" class="col-md-10">
                    {{> legacy}}                  
                </div>               
            </div> 
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

            <div class="row">
                <div id="microservices" class="col-md-10">
                    {{> microservices}}                  
                </div>               
            </div> 
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div> 

            <div class="row">
                <div id="rest" class="col-md-10">
                    {{> rest}}                  
                </div>               
            </div> 
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div> 

        </div>
    </div>
</template>