<template name="blog">
    <div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Blog</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Full Width</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-posts">
                        {{#each getarticlelists}}
                        <article class="post post-large">
                            <div class="post-image">
                                <!-- 
		                                <div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{&quot;items&quot;:1}">
		                                    <div class="owl-stage-outer">
		                                        <div class="owl-stage" style="transform: translate3d(-2282px, 0px, 0px); transition: 0s; width: 7987px;">
		                                            {{#each gettitleImgUrls _id}}
		                                            <div class="owl-item cloned" style="width: 1141px;">
		                                                <div>
		                                                    <div class="img-thumbnail">
		                                                        <img class="img-responsive" src='{{titleimages}}' alt="">
		                                                    </div>
		                                                </div>
		                                            </div>
		                                            {{/each}}
		                                        </div>
		                                    </div>
		                                    <div class="owl-nav disabled">
		                                        <div class="owl-prev"></div>
		                                        <div class="owl-next"></div>
		                                    </div>
		                                    <div class="owl-dots">
		                                        <div class="owl-dot active"><span></span></div>
		                                        <div class="owl-dot"><span></span></div>
		                                        <div class="owl-dot"><span></span></div>
		                                    </div>
		                                </div> -->
                                <!--       <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                                    {{#each gettitleImgUrls _id}}
                                    <div>
                                        <div class="img-thumbnail">
                                            <img class="img-responsive" src='{{this}}' alt="">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div> -->
                                <!--     <div class="carousel-inner" role="listbox">
								    {{#each gettitleImgUrls _id}}
								      {{> carouselItem title=title imageUrl=this index=@index}}
								    {{/each}}
								  </div>


 -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="post-date">
                                            <span class="day">10</span>
                                            <span class="month">Jan</span>
                                        </div>
                                        <h2><a href="/blogpost/{{_id}}">{{posttitle}}</a></h2>
                                    </div>
                                </div>

                                
                            
                            </div>
                            <div class="row">
                                <div class="post-content">
                                    <p>{{{postcontent}}} <a href="/blogpost/{{_id}}">more[...]</a></p>
                                    <div class="post-meta">
                                        <span><i class="fa fa-user"></i> By <a href="#">{{postmetauser}}</a> </span>
                                        <span><i class="fa fa-tag"></i>
			                                   {{#each categories}}
			                                    <a href="#">{{this}}</a>,
			                                   {{/each}}
			                                     </span>
                                        <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                                        <a href="blog-post.html" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {{/each}}
                        <ul class="pagination pagination-lg pull-right">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="carouselItem">
    <div class="carousel-item {{isActive}}">
        <img src="{{this}}">
    </div>
</template>
