<template name="blogauthor">

UserID: {{userid}}
	<div class="post-block post-author clearfix">
											<h3 class="heading-primary"><i class="fa fa-user"></i>Author</h3>
											<div class="img-thumbnail">
												<a href="blog-post.html">
													<img src="website/img/avatar.jpg" alt="">
												</a>
											</div>
											<p><strong class="name"><a href="#">John Doe</a></strong></p>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui. </p>
										</div>

</template>