<template name="blogpost">
    <div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Blog</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Blog Post</h1>
                    </div>
                </div>
            </div>
        </section>
        {{#with getArticle }}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-posts single-post">
                        <article class="post post-large blog-single-post">
                            <div class="post-image">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="post-date">
                                            <span class="day">{{day}}</span>
                                            <span class="month">{{month}}</span>
                                        </div>
                                        <h2><a href="/blogpost/{{_id}}">{{posttitle}}</a></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-1">
                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner" role="listbox">
                                                {{#each titleimages}} {{#if equals @index 0}}
                                                <div class="item active">
                                                    <img style="width:1400px;height:300px;" src={{this}} alt="...">
                                                    <div class="carousel-caption">
                                                        <!--   <h3>Slide1</h3> -->
                                                    </div>
                                                </div>
                                                {{else}}
                                                <div class="item">
                                                    <img style="width:1400px;height:300px;" src={{this}} alt="...">
                                                    <div class="carousel-caption">
                                                        <!--  <h3>slide2</h3> -->
                                                    </div>
                                                </div>
                                                {{/if}} {{/each}}
                                            </div>
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content">                               
                                <p>
                                    {{{postcontent}}}
                                </p>
                                 <div class="post-meta">
                                    <span><i class="fa fa-user"></i> By <a href="#">{{postmetauser}}</a> </span>
                                    <span><i class="fa fa-tag"></i> 
                                       {{#each categories}}
                                        <a href="#">{{this}}</a>,                                     
                                        {{/each}}
                                    </span>
                                    <span><i class="fa fa-comments"></i> <a href="#">{{commentscount}} Comments</a></span>
                                </div>
                                {{> sharethispost blogid=_id}} 
                                {{> blogauthor userid=postmetauser}} 
                                {{> blogcommentlist blogid=_id}}
                                {{> blogcommentform blogid=_id}}
                            </div>
                        </article>
                    </div>
                </div>


                <div class="col-md-3">
                    <aside class="sidebar">
                        {{> blogsidebarsearch}}                       
                        <hr>
                        {{> blogcategories}}                        
                        {{> populararticles}}                                   
                    </aside>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</template>
