<template name="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 center">
                <h2 class="mb-xl"><strong>Services</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="feature-box feature-box-style-2 appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon">
                        <i class="icon-user-following icons"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 >Cloud Consultancy</h4>  <!-- class="mb-sm" -->
                        <!-- class="mb-lg" -->
                        <p>Cloud planning and implementation solutions to help you navigate your journey to the cloud. Wapp Cloud Services are based on implementation best practices and will help minimize risk when navigating the many complexities involved in building and operating a cloud. By teaming our expert consultants with your IT leaders, we can help you stand up and integrate the optimal cloud environment to facilitate your strategic and technical business requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="feature-box feature-box-style-2 appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon">
                        <i class="icon-layers icons"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 >Mobile Apps</h4> <!-- class="mb-sm" -->
                        <!-- class="mb-lg" -->
                        <p >We are expert in development of enterprise and utility mobile apps. Our mobile app developers have experience of developing critical, data and performance intensive apps using cloud web services like AWS (Amazon Web Services), Azure, Amazon S3 and Content Delivery Networks etc</p>
                    </div>
                </div>
            </div>
          
            <div class="col-xs-4">
                <div class="feature-box feature-box-style-2 appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                    <div class="feature-box-icon">
                        <i class="icon-star icons"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Web Applications</h4> <!-- class="mb-sm" -->
                        <p class="mb-lg">We specialize in developing software applications and having strong expertise in ASP.NET 4.5, C#, WCF, JQuery, CSS3, HTML5. Our software applictions are simple to manage and allow your company to sell products or services online. Each applications are professionally designed & developed to match your business needs. It is having web manager for admin, analytics, status and more reports.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >           
            <div class="col-xs-4">
                <div class="feature-box feature-box-style-2 appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                    <div class="feature-box-icon">
                        <i class="icon-drop icons"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Capability & Project Review</h4><!-- class="mb-sm" -->
                        <p class="mb-lg">Our Capability Review and Project Review services begin with an assessment specific to each client objective, ranging from an informal executive-level appraisal through to more formal assessment techniques against recognised standards.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="feature-box feature-box-style-2 appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                    <div class="feature-box-icon">
                        <i class="icon-screen-desktop icons"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>REST APIs</h4> <!-- class="mb-sm" -->
                        <p class="mb-lg">Custom REST services, a consistent resource abstraction for content that allows other services to easily consume while avoiding dependencies and proprietary API lock-in specially for mobile app and third party apps.</p>
                    </div>
                </div>
            </div>

             <div class="col-xs-4">
                <div class="feature-box feature-box-style-2 appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                    <div class="feature-box-icon">
                        <i class="icon-social-youtube icons"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>MicroServices</h4> <!-- class="mb-sm" -->
                        <p class="mb-lg">Microservices migration - we work with you to develop a strategy for incrementally refactoring your monolith to a microservice-based architecture. Microservices development and deployment - we help you develop, test and deploy your microservice-based applications. We will help you pick the most appropriate tool and frameworks and conduct architecture and code reviews.</p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</template>
