<template name="sitemap">
<div role="main" class="main">

				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Sitemap</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">

						<div class="col-md-4">
							<ul class="nav nav-list mb-xl">
								<li><a href="index.html">Home</a></li>
								<li>
									<a href="#">About Us</a>
									<!-- <ul>
										<li><a href="/aboutus">About Us</a></li>
										
									</ul> -->
								</li>
								<li><a href="/team">Team</a></li>
								<li>
									<a href="page-services.html">Services</a>
									<ul>
										<li><a href="/aboutus">Cloud</a></li>
										<li><a href="/aboutus">Mobile</a></li>
										<li><a href="/aboutus">Project</a></li>
										<li><a href="/aboutus">Security</a></li>
										<li><a href="/aboutus">Microservices</a></li>
										
									</ul>
								</li>
								<li><a href="page-careers.html">Careers</a></li>
								<li><a href="page-our-office.html">Our Office</a></li>
								<li><a href="/faq">FAQ</a></li>
								<li><a href="#">Portfolio</a></li>
								<li><a href="/contactus">Contact Us</a></li>
							</ul>
						</div>

						<div class="col-md-6 col-md-offset-0 hidden-xs">
							
                    {{>contentwhoweare}}

						</div>

					</div>

				</div>

			</div>
</template>