<template name="mobile">
<div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Mobile Consultancy</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Mobile Consultancy</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
     
            <div class="row">
                <div class="col-md-10">
                    <p class="lead">
                        Wapp Solutions is an IT consulting and services provider, providing end-to-end consulting for global clients providing full-cycle services in areas of custom web design, web development, mobile app development, Project Consultancies, hosting & support. Based on a productive, transparent, and intuitive process, our project execution methodology ensures that we deliver a formidable final product. Combining our solid business domain experience, technical expertise, profound knowledge of latest industry trends and quality-driven delivery model we offer progressive end-to-end solutions.
                    </p>
                </div>              
            </div>

            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>            
            <div class="row">
                <div id="androidnativeapp" class="col-md-10">
                    {{> androidnativeapp}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

                     
            <div class="row">
                <div id="hybrid" class="col-md-10">
                    {{> hybrid}}                  
                </div>               
            </div>
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

                     
            <div class="row">
                <div id="windowsapp" class="col-md-10">
                    {{> windowsapp}}                  
                </div>               
            </div>            
            
            <div class="row"><div class="col-md-12"><hr class="tall"></div></div>  

        </div>
    </div>
</template>