<template name="contactus">
    <!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
    <div id="googlemaps" class="google-map"></div>
    <div class="container">
        <form id="contactFormAdvanced" method="POST" enctype="multipart/form-data">
            <div class="col-md-6">
                <div class="row">
                    <div class="offset-anchor" id="contact-sent"></div>
                    <h2 class="mb-sm mt-sm"><strong>Contact</strong> Us</h2>
                    <input type="hidden" value="true" name="emailSent" id="emailSent">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Your name *</label>
                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                            </div>
                            <div class="col-md-6">
                                <label>Your email address *</label>
                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Phone</label>
                                <input type="text" value="" data-msg-required="Please enter phone no." maxlength="100" class="form-control" name="phone" id="phone" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Subject</label>
                                <select data-msg-required="Please enter the Subject." class="form-control" name="subject" id="subject" required>
                                    <option value="">...</option>
                                    <option value="Option 1">Need to Discuss</option>
                                    <option value="Option 2">Cloud</option>
                                    <option value="Option 3">Mobile</option>
                                    <option value="Option 4">.Net Application</option>
                                    <option value="Option 5">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Country</label>
                                <select data-msg-required="Please enter the Country." class="form-control" name="country" id="country" required>
                                    {{#each getCountryList}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <br/><br/><br/>
                            <label>Message *</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="6" class="form-control" name="message" id="message" required></textarea>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            {{> reCAPTCHA}}
                        </div>
                        <div class="col-md-8">
                            <input type="submit" id="contactFormSubmit" value="Send Message" class="btn btn-info btn-lg pull-right" data-loading-text="Loading...">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
