<template name="highservicelist">
	<li class="dropdown dropdown-mega">
		<a class="dropdown-toggle" href="#">
			Our Services
		</a>
		<ul class="dropdown-menu">
			<li>
				<div class="dropdown-mega-content">
					<div class="row">
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">Android Mobile App Development</span>
							<ul class="dropdown-mega-sub-nav">
								
								<li><a href="shortcodes-toggles.html">Mobile App with NoSQL</a></li>
								<li><a href="shortcodes-toggles.html">Flagship Apps</a></li>								
							</ul>
						</div>
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">Hybrid Android App Development</span>
							<ul class="dropdown-mega-sub-nav">
								<li><a href="shortcodes-buttons.html">Buttons</a></li>	
							</ul>
						</div>
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">Hybrid iPhone App Development</span>
							<ul class="dropdown-mega-sub-nav">															
							</ul>
						</div>
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">Windows 10 Apps</span>
							<ul class="dropdown-mega-sub-nav">
								<li><a href="shortcodes-headings.html">Mobile and Desktop Apps</a></li>	
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</li>
</template>