<template name="startupservicelist">
    <li class="dropdown dropdown-mega">
        <a class="dropdown-toggle" href="#">
            Project Management
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="dropdown-mega-content">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="dropdown-mega-sub-title">Architecture</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li>
                                    <a href="shortcodes-accordions.html"></a>
                                </li>
                                <li><a href="shortcodes-toggles.html">Project Reviews</a></li>
                                <li><a href="shortcodes-tabs.html">Knowns and Unknowns</a></li>
                                <li><a href="shortcodes-icons.html">Project Risks</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <span class="dropdown-mega-sub-title">Critical Path</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-buttons.html">Dependency Tree</a></li>
                                <li><a href="shortcodes-buttons.html">Code Activities</a></li>
                                <li><a href="shortcodes-buttons.html">Non-Code Activities</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <span class="dropdown-mega-sub-title">Resources and Scheduling</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-call-to-action.html">Available Resources</a></li>
                                <li><a href="shortcodes-call-to-action.html">UnAvailable Resources</a></li>
                                </ul>
                        </div>
                        <div class="col-md-3">
                            <span class="dropdown-mega-sub-title">Project Governance</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-headings.html">Time cost curves</a></li>
                                <li><a href="shortcodes-headings.html">Roles and Responsibilities</a></li>
                                <li><a href="shortcodes-headings.html">Visibility</a></li>
                                <li><a href="shortcodes-headings.html">Risks</a></li>
                                <li><a href="shortcodes-headings.html">Concerns and Issues</a></li>
                                <li><a href="shortcodes-headings.html">Technology</a></li>
                                <li><a href="shortcodes-headings.html">Reducing cost</a></li>
                                 <li><a href="shortcodes-headings.html">Tools</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
    </li>
</template>
