<template name="technologylist">
    <li >
        <a  href="/">
            Home
        </a>
    </li>
     <li >
        <a  href="/Team">
            Team
        </a>
    </li>
    <li class="dropdown dropdown-mega">
        <a class="dropdown-toggle" href="#">
            Services
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="dropdown-mega-content">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="/cloudconsultancy"><span class="dropdown-mega-sub-title">Cloud Consultancy</span></a>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-toggles.html">Amazon Web Services</a></li>
                                <li><a href="shortcodes-toggles.html">Microsoft Azure</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Readiness</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Architecture Review</a></li>
                                <li><a href="shortcodes-toggles.html">Service Delivery models for an Enterprise (IaaS, PaaS, SaaS)</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Infrastructure</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Governance</a></li>                               
                             <!--    <li><a href="shortcodes-icons.html">Migration Risks</a></li>
                                <li><a href="shortcodes-icon-boxes.html"> Migration Cost</a></li>
                                <li><a href="shortcodes-carousels.html">Vertical Cloud Computing</a></li>
                                <li><a href="cloudmigration_package">Migration Packages</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Migration</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Readiness Assessment</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Strategy for application and infrastructure</a></li>
                                <li><a href="shortcodes-toggles.html">Building cloud roadmap and Reference Architecture(RA)</a></li> -->
                            </ul>
                        </div>
                         <div class="col-xs-3">
                            <span class="dropdown-mega-sub-title">Mobile</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-headings.html">Native Android Apps</a></li>
                                <li><a href="shortcodes-dividers.html">IOS/Android Hybrid Mobile App</a></li>
                                <li><a href="shortcodes-animations.html">Windows 10 Apps Mobile/Desktop</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <span class="dropdown-mega-sub-title">Web Applications</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-lists.html">Rapid Application Development</a></li>                             
                                <li><a href="shortcodes-image-frames.html">Responsive App with Mobile Apps</a></li>                              
                                <li><a href="shortcodes-blockquotes.html">Legacy App Cloud Migration</a></li>
                                <li><a href="shortcodes-word-rotator.html">Microservices</a></li>
                                <li><a href="shortcodes-word-rotator.html">REST Services</a></li>
                            </ul>
                        </div>
                       
                        <div class="col-xs-3">
                            <span class="dropdown-mega-sub-title">Capability & Project Review</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-headings.html">Support & Maintenence</a></li>
                                <li><a href="shortcodes-dividers.html">Software Development & Implementation</a></li>
                                <li><a href="shortcodes-animations.html">Cloud WEB and Mobile IT Consulting</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</template>
