<template name="technologylist">
    <li >
        <a  href="/">
            Home
        </a>
    </li>
     <li >
        <a  href="/Team">
            Team
        </a>
    </li>
    <li class="dropdown dropdown-mega">
        <a class="dropdown-toggle" href="#">
            Services
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="dropdown-mega-content">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="dropdown-mega-sub-title">Cloud Consultancy</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="../cloudconsultancy#aws">Amazon Web Services</a></li>
                                <li><a href="../cloudconsultancy#azure">Microsoft Azure</a></li>
                                <li><a href="../cloudconsultancy#cloud_readiness">Cloud Readiness</a></li>
                                <li><a href="../cloudconsultancy#cloud_architecture">Cloud Architecture Review</a></li>
                                <li><a href="../cloudconsultancy#cloud_service">Service Delivery models for an Enterprise (IaaS, PaaS, SaaS)</a></li>
                                <li><a href="../cloudconsultancy#cloud_infrastructure">Cloud Infrastructure</a></li>
                             <!--    <li><a href="../cloudconsultancy#cloud_governance">Cloud Governance</a></li>   -->                             
                             
                            </ul>
                        </div>
                         <div class="col-xs-3">
                            <span class="dropdown-mega-sub-title">Mobile</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="../mobile#androidnativeapp">Native Android Apps</a></li>
                                <li><a href="../mobile#hybrid">IOS/Android Hybrid Mobile App</a></li>
                                <li><a href="../mobile#windowsapp">Windows 10 Apps Mobile/Desktop</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <span class="dropdown-mega-sub-title">Web Applications</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="../web#rad">Rapid Application Development</a></li>                             
                                <li><a href="../web#responsive">Responsive App with Mobile Apps</a></li>                              
                                <li><a href="../web#legacy">Legacy App Cloud Migration</a></li>
                                <li><a href="../web#microservices">Microservices</a></li>
                                <li><a href="../web#rest">REST Services</a></li>
                            </ul>
                        </div>
                       
                        <div class="col-xs-3">
                            <span class="dropdown-mega-sub-title">Capability & Project Review</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="../projectconsultancy#security">Security Audit</a></li>
                                <li><a href="../projectconsultancy#support">Support & Maintenence</a></li>
                                <li><a href="../projectconsultancy#software">Software Development & Implementation</a></li>
                                <li><a href="../projectconsultancy#cloudweb">Cloud WEB and Mobile IT Consulting</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</template>
