<template name="technologylist">
    <li class="dropdown dropdown-mega">
        <a class="dropdown-toggle" href="#">
            Technologies
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="dropdown-mega-content">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="dropdown-mega-sub-title">Cloud EcoSystem</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-toggles.html">Amazon Web Services</a></li>
                                <li><a href="shortcodes-toggles.html">Microsoft Azure</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Migration</a>
                                    <ul>
                                        <li><a href="shortcodes-toggles.html">Cloud Readiness Assessment</a></li>
                                        <li><a href="shortcodes-toggles.html">Cloud Strategy for application and infrastructure</a></li>
                                        <li><a href="shortcodes-toggles.html">Building cloud roadmap and Reference Architecture(RA)</a></li>
                                    </ul>
                                </li>
                                <li><a href="shortcodes-toggles.html">Cloud Security</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Architecture Review</a></li>
                                <li><a href="shortcodes-toggles.html">Service strategy and delivery models for an Enterprise (IaaS, PaaS, SaaS)</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Infrastructure</a></li>
                                <li><a href="shortcodes-toggles.html">Cloud Governance</a></li>
                                <li>
                                    <a href="shortcodes-tabs.html"></a>
                                </li>
                                <li><a href="shortcodes-icons.html">Migration Risks</a></li>
                                <li><a href="shortcodes-icon-boxes.html"> Migration Cost</a></li>
                                <li><a href="shortcodes-carousels.html">Vertical Cloud Computing</a></li>
                                <li><a href="cloudmigration_package">Migration Packages</a></li>
                                <li><a href="shortcodes-lightboxes.html">Lightboxes</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <span class="dropdown-mega-sub-title">Web Technologies</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-buttons.html">Cloud Security</a></li>
                                <li><a href="shortcodes-buttons.html">Storage</a></li>
                                <li><a href="shortcodes-labels.html">Public, Hybrid & Private Networks</a></li>
                                <li><a href="shortcodes-lists.html">Policies</a></li>
                                <li><a href="shortcodes-image-gallery.html">Image Gallery</a></li>
                                <li><a href="shortcodes-image-frames.html">Image Frames</a></li>
                                <li><a href="shortcodes-testimonials.html">Testimonials</a></li>
                                <li><a href="shortcodes-blockquotes.html">Blockquotes</a></li>
                                <li><a href="shortcodes-word-rotator.html">Word Rotator</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <span class="dropdown-mega-sub-title">Mobile</span>
                            <ul class="dropdown-mega-sub-nav">
                                <li><a href="shortcodes-headings.html">Headings</a></li>
                                <li><a href="shortcodes-dividers.html">Dividers</a></li>
                                <li><a href="shortcodes-animations.html">Animations</a></li>
                                <li><a href="shortcodes-medias.html">Medias</a></li>
                                <li><a href="shortcodes-maps.html">Maps</a></li>
                                <li><a href="shortcodes-arrows.html">Arrows</a></li>
                                <li><a href="shortcodes-alerts.html">Alerts</a></li>
                                <li><a href="shortcodes-posts.html">Posts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</template>
