<template name="webservicelist">
	<li class="dropdown dropdown-mega">
		<a class="dropdown-toggle" href="#">
			Web Solutions
		</a>
		<ul class="dropdown-menu">
			<li>
				<div class="dropdown-mega-content">
					<div class="row">
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">Rapid Application Development</span>
							<ul class="dropdown-mega-sub-nav">
								<li><a href="shortcodes-accordions.html"></a></li>
								<li><a href="shortcodes-toggles.html">Websites</a></li>
								<li><a href="shortcodes-tabs.html">Web Application</a></li>
								<li><a href="shortcodes-icons.html">Responsive Web Application</a></li>
								<li><a href="shortcodes-icon-boxes.html">Mobile Web Pages</a></li>
								<li><a href="shortcodes-carousels.html">Groupy Integration</a></li>
								<li><a href="shortcodes-modals.html">MicroServices</a></li>
								
							</ul>
						</div>						
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">Cloud Governance</span>
							<ul class="dropdown-mega-sub-nav">
								<li><a href="shortcodes-call-to-action.html">Call to Action</a></li>
								<li><a href="shortcodes-pricing-tables.html">Pricing Tables</a></li>	
							</ul>
						</div>			
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">REST APIs</span>
							<ul class="dropdown-mega-sub-nav">
								<li><a href="shortcodes-call-to-action.html">Call to Action</a></li>								
							</ul>
						</div>	
						<div class="col-md-3">
							<span class="dropdown-mega-sub-title">Microservices</span>
							<ul class="dropdown-mega-sub-nav">
								<li><a href="shortcodes-call-to-action.html">Call to Action</a></li>								
							</ul>
						</div>						
					</div>
				</div>
			</li>
		</ul>
	</li>
</template>