<template name="addresource">
    <div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Resource Attribute</li>
                        </ul>
                    </div>
                </div>
                <!--  <div class="row">
                    <div class="col-md-12">
                        <h1>Resource Attribute</h1>
                    </div>
                </div> -->
            </div>
        </section>

      <!--   <div id="qrcode"></div> -->
<!-- <figure class="qrcode">	</figure> -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-12 left">
                    <h2 class="heading-dark mb-none">Resource <strong>Encoding</strong></h2>
                    <!-- <p class="mb-xl">Create inventory encoded resources.</p> -->
                </div>
            </div>
            <div class="row mt-xl">
                <div class="col-md-6">
                    <div class="testimonial testimonial-style-4 " data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
                        <!-- appear-animation -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">                                   
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="15" class="form-control" name="message" id="message" placeholder="Enter text" required></textarea>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <input type="submit" id="btnqrcode" value="Generate" class="btn btn-success btn-lg pull-center" data-loading-text="Loading...">
                </div> -->
                <div class="col-md-4">
                    <div class="testimonial testimonial-style-4 " data-appear-animation="fadeInRight" data-appear-animation-delay="0">
                        <div class="portfolio-item center">
                            <a href="/addresource" class="text-decoration-none block-link pt-md">
                                <span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="../website/img/colorwapp.png" data-plugin-lazyload>
											<!-- <img src="../website/img/colorwapp.png"> -->
											<div class="testqrcode" data-qrcode="{{someReactiveData}}"></div>
										</span>
                                </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="ask">
    {{#each answerArray}} {{>answer}} {{/each}}
    <button id="addItem">Add item</button>
</template>
<template name="answer">
    <div class="">
        <input class="form-control answer" maxlength="30" placeholder="Answer (max 30 chars)" name="answer" />
        <span class="input-group-btn">
        <button class="btn btn-danger delButton" id="{{id}}" data-id="{{id}}" type="button">Delete</button>
    </span>
    </div>
</template>
