<template name="listofquestionaires">
    <!--   {{#each getquestionares}}
    <div class="stacked-icons">
        <span class="fa-stack fa-1x">
		    <i class="fa fa-file-o fa-stack-2x"></i>
		    <strong class="fa-stack-1x fa-stack-text file-text">{{@index}}</strong>
 		 </span>
    </div>
    {{/each}} -->
    {{#each getquestionares}}
    <div class="controls">
        <!-- <div class="input-group">
            <span class="input-group-btn">
	        <div class="stacked-icons">
		        <span class="fa-stack fa-1x">
				    <i class="fa fa-file-o fa-stack-2x"></i>
				    <strong class="fa-stack-1x fa-stack-text file-text">{{@index}}</strong>
		 		 </span>
        	</div>
        <a href='/editquestion/'>{{title}}</a>
        </span>
    </div> -->
        <div class="controls">
            <div class="input-group">
                {{@index}}.<a class="" href='/editquestion/'>{{title}}</a>
                <span class="input-group-btn">
	               <button class="btn btn-warning delete-option deletequestion" id={{_id}} data-optionid={{this}} type="button">X</button>
	            </span>
            </div>
        </div>
    </div>
    {{/each}}
</template>
