<template name="pollquestion">






    <form id="contactFormAdvanced" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group {{errorClass 'title'}}">
                <div class="col-md-10">
                    <label>
                        <h4><strong>Create Questionaire</strong></h4></label>
                    <textarea maxlength="900" rows="3" data-msg-required="Please enter Question" class="form-control" name="question" id="question" placeholder="Questions" required></textarea>
                    <span class="help-block">{{errorMessage 'title'}}</span>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group {{errorClass 'options'}}">
                <div class="col-md-12">
                    <label>Options</label>
                    {{#each pollOptions}}
                    <div class="controls">
                        <div class="input-group">
                           
                           <span class="input-group-btn">
	                           <button class="btn btn-success " data-optionid={{this}} type="button">{{@index}}.</button>
	                        </span>
                           <input name="option" type="text" value="" placeholder="option" class="form-control" maxlength="40" />
                            <span class="input-group-btn">
	                           <button class="btn btn-warning delete-option" data-optionid={{this}} type="button">X</button>
	                        </span>
                        </div>
                    </div>
                    {{/each}}
                    <div class="btn-toolbar">
                        <button type="button" class="btn add-option btn-success btn-lg pull-right" title="Add option" aria-label="Left Align" value="Add Option">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" id="btnaddmorequestions" value="Add more Question" class="btn btn-info btn-lg pull-right" />
                </div>
                 <div class="col-md-6">
                <input type="button" value="Preview" class="btn btn-success btn-lg pull-right" />
            </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
              <div id="dynamicquestion"></div>
            </div>
        </div>
    </div>
</template>
