<template name="polldashboard">
	<ul class="portfolio-list sort-destination full-width-spaced mb-xl" data-sort-id="portfolio" id="homeOverview">
					<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
						<div class="portfolio-item center">
							<a href="/pollsearch" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="../website/img/colorwapp.png" data-plugin-lazyload>
											<img src="../website/img/bargraph.png">
											Surveys
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Opinions</h5>
								<!-- <p class="font-size-xs line-height-xs">Full Width Slider<br>Default Header</p> -->
							</a>
						</div>
					</li>
					<li class="col-md-3 col-sm-6 col-xs-12 isotope-item classic">
						<div class="portfolio-item center">
							<a href="/createpoll" class="text-decoration-none block-link pt-md">
								<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
									<span class="thumb-info-wrapper">
										<span class="thumb-info-image" data-original="../website/img/freeservice/poll.jpg" data-plugin-lazyload>
											<img src="../website/img/mysurvey.png">
											My Polls
										</span>
									</span>
								</span>
								<h5 class="mb-xs">Polling</h5>
								<!-- <p class="font-size-xs line-height-xs">Create<br>Poll</p> -->
							</a>
						</div>
					</li>


					
				</ul>
</template>