<template name="s3upload">
    <div class="form-group">
        <label class="col-md-3 control-label">File Upload</label>
        <div class="col-md-6">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input">
                        <i class="fa fa-file fileupload-exists"></i>
                        <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-default btn-file">
						<span class="fileupload-exists">Change</span>
                    <span class="fileupload-new">Select file</span>
                    <input type="file" class="file_bag" />
                    </span>
                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            {{#each files}}
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent_uploaded}}%">
                    {{percent_uploaded}}%
                </div>
            </div>
            {{/each}}
              <button class="upload">Upload</button>
        </div>
    </div>
  
</template>
